body {
	background-color: #efefef;
}

/* table {
 font-family: arial, sans-serif;
 border-collapse: collapse;
 width: 100%;
}
td,
th {
 border: 1px solid #dddddd;
 text-align: left;
 padding: 8px;
}
th {
 background-color: #ccd;
}
tr:nth-child(even) {
 background-color: #dddddd;
}
tr:nth-child(odd) {
 background-color: #ddeedd;
}
.highlight {
 background-color: Yellow;
 color: Green;
} */

#ticketsManagerForm {
	border: 1px solid black;
    width: 60%;
    margin: 14px;
    padding: 12px;
    box-shadow: 1px 1px 5px 0px #333;
}