<div id="reimbDiv">
	<!-- <input id="reimbAmount" placeholder="Amount"><br>
	<input id="reimbDescription" placeholder="Description"><br>
	<select>
			<option value="lodging">Lodging</option>
			<option value="travel">Travel</option>
			<option value="food">Food</option>
			<option value="education">Education</option>
		</select><br>
	<button id="newReimb">New Reimbursement</button> -->
	</div>


	<div class="jumbotron">
			<!-- <div (submit)="createReimbursement()"> -->
			<div>
				<label>Amount:</label>
				<input type="number" [(ngModel)]="amount" name="amount" class="col-4 form-control" placeholder="$ Amount">
				
				<label>Description:</label> 
				<input type="text" [(ngModel)]="description" name="description" class="col-6 form-control"  placeholder="Brief Description">
				
				<label>Type:</label>
				<select [(ngModel)]="type_id" name="type_id" class="form-control col-4">
					<option>Lodging</option>
					<option>Travel</option>
					<option>Food</option>
					<option>Other</option>
				</select>
				<!-- <button type="submit" class="btn btn-submit">Add Reimbursement!</button> -->
				<button class="btn btn-submit" (click)="addNewReimbursement()">Add Reimbursement!</button>
			
			</div>
			<div class="jumbotron" *ngIf="message">
				<label> 
					{{message}}
				</label>
			</div>

	
	<table class="table table-sm table-hover table-bordered thead-light">
			<thead>
					<tr>
					  <th scope="col">Amount</th>
					  <th scope="col">Submitted</th>
					  <th scope="col">Resolved</th>
					  <th scope="col">Description</th>
					  <th scope="col">Author</th>
					  <th scope="col">Resolver</th>
					  <th scope="col">Status</th>
					  <th scope="col">Type</th>
					</tr>
				  </thead>
		<tbody id="userTable">
				<tr *ngFor="let b of reimbursements">
						<td>{{b.amount | currency}}</td>
						<td>{{b.submitted | date: 'medium' }}</td>
						<td>{{b.resolved | date: 'medium'}}</td>
						<td>{{b.description}}</td>
						<td>{{b.author}}</td>
						<td>{{b.resolver}}</td>
						<!-- <td>{{b.status_id}}</td> -->
						<td>
							{{b.status_id}}
							<!-- <button *ngIf="b.status_id ==1" (click)="setApproved(b.reimb_id)" class="btn btn-primary">Approve</button>
							<button *ngIf="b.status_id ==1" (click)="setDenied(b.reimb_id)" class="btn btn-warn">Deny</button> -->
						</td>
						<td>{{b.type_id}}</td>
				   
					  </tr>
		</tbody>
	</table>



