<div id="loginDiv">
  <h2>Login</h2>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required [(ngModel)]='username' /> <br>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required [(ngModel)]='password' ><br>
      <button (click)="login()" class="btn btn-primary">Login</button>
      <br><br>Don't have an account?<br>
      <button (click)="signupNavigate()" class="btn btn-primary">Sign Up</button>
</div>