<p style="padding-top: .75cm"></p>
  <div class="form-group row">   
    <div class="col-1"></div>
    <div class="col-4">
      <label>First Name:</label> <br>
      <input type="text" id="firstname" name="firstname" required [(ngModel)] = "firstname"/>
      <br><br>
      <label>Last Name:</label> <br>
      <input type="text"  id="lastname" name="lastname" required [(ngModel)] = "lastname"/>
      <br><br>
      <label>Username:</label> <br>
      <input type="text"  id="username" name="username" required [(ngModel)] = "username"/>
      <br><br>
      <label>Password:</label> <br>
      <input type="text"  id="password" name="password" required [(ngModel)] = "password"/>
      <br><br>
      <label>Email:</label> <br>
      <input type="text"  id="email" name="email" required [(ngModel)] = "email"/>
      <br><br>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select [(ngModel)]="typeVal" class="form-control" id="exampleFormControlSelect1">
          <option value="1">Employee</option>
          <option value="2">Manager</option>
        </select>
      </div> 
      <br>
      <button type="submit" class="btn btn-success" (click)="createAccount()"><a>Submit</a></button>
      <br><br>
      <label *ngIf="message">{{message}}</label>
    </div>
  </div>