<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
		<property name="driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@localhost:1521:xe	<!-- CHANGE THIS TO AWS -->
		</property>
		<property name="hibernate.connection.username">demo</property>
		<property name="hibernate.connection.password">demo</property>
		
		<property name="show_sql">true</property>	<!-- shows you the SQL code in console -->
		<property name="hibernate.hbm2ddl.auto">create</property>	<!-- first time you
													update, do create. after first
													time, change to update -->
	</session-factory>
</hibernate-configuration>