<app-navbar></app-navbar>
<div class="m-2">
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="refresh()">Refresh</button>
  <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal">
      File Claim
    </button>

  <!-- <button class="btn" (click)="logout()">Logout</button> -->
</div>
<div class="table-responsive">
  <table name="table" id="table" class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Submitted Date</th>
        <th>Resolved Date</th>
        <th>Description</th>
        <th *ngIf="this.authService.getUserData()[1] == 1 || this.authService.getUserData()[1] == 2">Author</th>
        <th>Resolver</th>
        <th>Type</th>
        <th>Status</th>
        <th *ngIf="this.authService.getUserData()[1] == 1 || this.authService.getUserData()[1] == 2">Approve</th>
        <th *ngIf="this.authService.getUserData()[1] == 1 || this.authService.getUserData()[1] == 2">Deny</th>
      </tr>
    </thead>
    <tr *ngFor="let stat of rbarray">
      <td>{{ stat.reimbId }}</td>
      <td>{{ stat.amount | currency }}</td>
      <td>{{ stat.submitted | date: 'medium' }}</td>
      <td>{{ stat.resolved | date: 'medium' }}</td>
      <td>{{ stat.description }}</td>
      <td *ngIf="this.authService.getUserData()[1] == 1 || this.authService.getUserData()[1] == 2">{{stat.author}}</td>
      <td>{{ stat.resolver }}</td>
      <td>{{ stat.type }}</td>
      <td>{{ stat.status }}</td>
      <td *ngIf="this.authService.getUserData()[1] == 1 || this.authService.getUserData()[1] == 2">
        <button class="btn btn-success" (click)="approveReimbursement(stat.reimbId)">Approve</button>
      </td>
      <td *ngIf="this.authService.getUserData()[1] == 1 || this.authService.getUserData()[1] == 2">
        <button class="btn btn-danger" (click)="denyReimbursement(stat.reimbId)">Deny</button>
      </td>
    </tr>
  </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Reimbursement Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="addReimbursement()">
        <div class="modal-body">
          <div class="form-group">
            <label for="sel1 ">Select Reimbursement Type:</label>
            <select class="custom-select" placeholder="type of reimbursement " class="form-control" id="sel1" [(ngModel)]='typeId' name='typeId'
              required>
              <option *ngFor="let opt of rtypes" [ngValue]="opt.typeId">{{opt.type}}</option>
            </select>
          </div>
          <label for="amount ">Amount:</label>
          <input type="number " placeholder="$0.00 " class="form-control " id="amount " name="amount " [(ngModel)]='amount' required>
          <br>
          <label for="description ">Description:</label>
          <input placeholder="(Optional)" class="form-control " type="text " id="description " name="description" autofocus=" " [(ngModel)]='description'>
        </div>
        <div class="modal-footer">
          <button id="submitNewReimb" class="btn btn-primary" type="submit " value="Submit Request">Submit Request</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>