<div class="border rounded col-10 mx-auto">
  <br>
  <div class="col-11 container-fluid border rounded">
    <span class="form-row">
      <label for="" class="col-6">
        Username:
      </label>
      <span class="col-6">
        {{activeUser.username}}
      </span>
    </span>
    <span class="form-row">
      <label for="" class="col-6">
        Password:
      </label>
      <span class="col-6">
        ****************
      </span>
    </span>
    <span class="form-row">
      <label for="" class="col-6">
        Firstname:
      </label>
      <span class="col-6">
        {{activeUser.firstname}}
      </span>
    </span>
    <span class="form-row">
      <label for="" class="col-6">
        Lastname:
      </label>
      <span class="col-6">
        {{activeUser.lastname}}
      </span>
    </span>
    <span class="form-row">
      <label for="" class="col-6">
        Email:
      </label>
      <span class="col-6">
        {{activeUser.email}}
      </span>
    </span>
    <span class="form-row">
      <label for="" class="col-6">
        Company Role:
      </label>
      <span class="col-6">
        {{activeUser.companyRole}}
      </span>
    </span>
  </div>
  <br>
</div>