<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
		<property name="driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@localhost:1521/xe
		</property>
		<property name="hibernate.connection.username">
			demo
		</property>
		<property name="hibernate.connection.password">
			DEMO
		</property>

		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Tell Hibernate where to find classes configured with annotations. -->
		<mapping
			class="com.iantimothyjohnson.notes.week5.models.Account" />
		<mapping
			class="com.iantimothyjohnson.notes.week5.models.User" />
	</session-factory>
</hibernate-configuration>