<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- Enable annotations in this context -->
	<context:annotation-config/>

	<!--  Where to look for annotations -->
	<context:component-scan base-package="com.ex"/>

	<!--  Enable @Transactional -->
	<tx:annotation-driven/>
	
	<!-- Tell JPA where to look for repositories -->
	<jpa:repositories base-package="com.ex.repositories"/>
	
	<!-- Contextual Sessions! Configure Hibernate with spring -->
	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<!-- Will use Hibernate101 schema just to make things quicker -->
		<property name="url" value="jdbc:oracle:thin:@dbabenjaminm.cq3sqeqvnl0n.us-east-1.rds.amazonaws.com:1521/orcl"/>
		<property name="username" value="hibernateexample"/>
		<property name="password" value="p4ssw0rd"/>
	</bean>
	
	<!--  Spring data is not natively compatible with Hibernate,
	we must configure it with JPA compliant frameworks by using
	a vendor adapter-->
	<bean id="hibernateJpaVenderAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
	</bean>
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="myDataSource"/>
		<property name="jpaVendorAdapter" ref="hibernateJpaVenderAdapter"/>
		<property name="packagesToScan" value="com.ex"/>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect"> org.hibernate.dialect.Oracle10gDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>		
		</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>

</beans>
