<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>helloservlets</display-name>

  
  <!--  web.zml aka deployment descriptor is the file with which we configure our web
  apps. here, we indicate which url-patterns (endpoints) will send
  requests to respective servlets and configure other details like parameters
  and when to initialize our servlets -->
  <servlet>
  	<servlet-name>HS</servlet-name>
  	<servlet-class>com.rev.helloservlets.HelloServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  	
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HS</servlet-name>
  	<url-pattern>/anything</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HelloHttp</servlet-name>
  	<servlet-class>com.rev.helloservlets.HellotHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloHttp</servlet-name>
  	<url-pattern>/hellohttp</url-pattern>
  </servlet-mapping>
  
    <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 </web-app>