<div id="accountView">
	<h2>Welcome, {{http.user.firstname}}</h2>
	<table class="table table-sm table-hover table-bordered thead-light">
		<thead>
			<tr>
				<th scope="col">Username</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Email</th>
			</tr>
		</thead>
		<tbody id="userTable">
				<td>{{http.user.username}}</td>
				<td>{{http.user.firstname}}</td>
				<td>{{http.user.lastname}}</td>
				<td>{{http.user.email}}</td>
		</tbody>
	</table>
	<br>
	<button (click)="reimbNavigate()" class="btn btn-primary">View Reimbursements</button>
</div>
