<br>
<input type="text" [(ngModel)]="firstname" placeholder="First name" class="form-control col-4">
<br>
<input type="text" [(ngModel)]="lastname" placeholder="Last name" class="form-control col-4">
<br>
<input type="text" [(ngModel)]="username" placeholder="Username" class="form-control col-4">
<br>
<input type="password" [(ngModel)]="password" placeholder="Password" class="form-control col-4">
<br>
<input type="text" [(ngModel)]="email" (change)="validateEmail()" placeholder="Email address" class="form-control  col-4">
<br>
<select name="role_id" class="form-control col-4">
  <option value="1">Manager</option>
  <option value="2">Regular</option>
</select>
<br>
<button (click)="register()" [disabled] = 'valid' *ngIf="registered==false" class="btn btn-primary">Register</button>
<br>
<button (click)="toLogin()" *ngIf="registered==true" class="btn btn-primary">Log In</button>
{{message}}