<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <!--  <span class="sr-only">(current)</span> --></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/create-account">Create Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://google.com">Google</a>
      </li>
      <li class="nav-item">
        <!-- (click)="logoutFunction()" -->
        <a class="nav-link" routerLing="/login">Logout</a>
      </li>
    </ul>
  </div>
</nav>
