#title {
    text-align: center;
}
#intro {
    padding-left: 100px;
    padding-right: 100px;
}
#content {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}
#characteristics {
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}
#syntaxImg {
    width: 70%;
    height: 70%;
}
#exImg {
    width: 70%;
    height: 70%;
}
#importantNotes {
    text-align: left;
    padding: 100px;
}

ul {
    /* list-style-position: outside; */
    /* text-indent: 10px; */
}
h4 {
    text-align: center;
}
