<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle10gDialect
		</property>
		<property name="driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@//localhost:1521/XE
		</property>
		<property name="hibernate.connection.username">angulardemo</property>
		<property name="hibernate.connection.password">angulardemo</property>
		
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<!-- Tell hibernate where to find classes configured w annotations -->
		<mapping class="pojos.Bear"/>
		<mapping class="pojos.Honey"/>
		<mapping class="pojos.Cave"/>
		
	</session-factory>
</hibernate-configuration>