<form (submit)="loginFunction()">
  <label for="username">Username</label>
  <!-- () = event binding -->
  <!-- [] = properties binding -->
  <!-- [()] = two way binding -->
  <input type="text" name="username" required [(ngModel)] = "username"> 
  <br><br>
  <label for="password">Password</label>
  <input type="text" name="password" required [(ngModel)] = "password"> 
  <br><br>
  <button type="submit" class="btn btn-success" value="Login">Submit</button>
</form>
<br><br>

<div *ngIf="message">
  {{message}}
</div>

<br><br>

<!--
  <div *ngIf="userData">
  {{userData.ers_user_id}}
  {{userData.ers_username}}
  {{userData.ers_first_name}}
  {{userData.ers_last_name}}
  {{userData.user_email}}
  {{userData.user_role_id}}
</div>
-->
