body {
    font-family: "Times New Roman", Times, serif
}
#title {
    text-align: center;
}
#content {
    text-align: center;
    /* padding-left: 200px;
    padding-right: 200px; */
}
#intro {
    /* padding-left: 150px;
    padding-right: 150px; */
    padding-bottom: 25px;
    padding-top: 25px;
}
#syntax {
    padding-bottom: 25px;
    padding-top: 25px;
}
#syntaxImg {
    width: 70%;
    height: 70%;
}
#characteristics {
    text-align: left;
    /* padding-left: 50px;
    padding-right: 50px; */
    padding-bottom: 25px;
    padding-top: 25px;
}
#example {
    padding-bottom: 25px;
    padding-top: 25px;
}
#exImg {
    width: 70%;
    height: 70%;
}
#importantNotes {
    text-align: left;
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 25px;
    padding-top: 25px;
}
#withoutLambda {
    width: 80%;
    height: 80%;
}
#withLambda {
    width: 80%;
    height: 80%;
}
ul {
    list-style-position: outside;
}
h4 {
    text-align: center;
}
