
<!-- in bankdemo and new_employee <button (click)="toLogin()" *ngIf="registered==true" class="btn btn-primary">Log In</button> -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #194e74;">
    <a class="navbar-brand" href="#">Employee Reimbursement System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-item nav-link" *ngIf="hService.temp" routerLink="/landing">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" *ngIf="hService.temp" routerLink="/newreimbursement">New Reimbursement</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" *ngIf="hService.temp && hService.temp.emp_role_id == 2"routerLink="/reimbursement">All Employee Reimbursements</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" *ngIf="hService.temp" (click)="logout()"  routerLink="/landing">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" *ngIf="!hService.temp" routerLink="/login">Login</a>
        </li>
          
        </ul>
    </div>
  </nav>