<h3 class="text-center">Welcome</h3>
<h5 class="text-center">Please create an account.</h5>
<div class="form-row">
    <div class="col">
        <input class="form-control col-4 offset-8" type="text" placeholder="firstname" id="firstname">  
    </div>
    <div class="col">
        <input class="form-control col-4" type="text" placeholder="lastname" id="lastname">
    </div>
</div>
<div class="form-row">
    <div class="col">
        <input class="form-control col-4 offset-8 mt-2" type="text" placeholder="username" id="username">
    </div>
    <div class="col">
        <input class="form-control col-4 mt-2" type="password" placeholder="password" id="password">
    </div>
</div>
<div class="form-row">
    <div class="col">
        <input class="form-control col-4 offset-4 mt-2" type="text" placeholder="email" id="email">
    </div>
</div>
<button class="btn btn-success mt-2" id="back2loginbtn">Cancel <span class="oi oi-media-step-backward"></span></button>
<button class="btn btn-primary mt-2" id="submitCreatebtn"><span class="oi oi-plus"></span> Submit</button>