
    <h3 class="text-center">Welcome</h3>
    <h5 class="text-center">Please log in or create an account.</h5>
    <input class="form-control col-4 offset-4" type="text" placeholder="username" id="username">
    <input class="form-control col-4 offset-4 mt-1" type="password" placeholder="password" id="password">
    <button class="btn btn-success mt-2" id="loginBtn">Log in <span class="oi oi-account-login"></span></button>
    <button class="btn btn-primary mt-2" id="createBtn"><span class="oi oi-plus"></span> Create Account</button>
