<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>bookstore</display-name>


<servlet>
	<servlet-name>FrontController</servlet-name>
	<servlet-class>com.rev.servlets.LoadViewsServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>FrontController</servlet-name>
	<url-pattern>*.view</url-pattern>
</servlet-mapping>
</web-app>