
<form class="px-4 py-3">
	<div class="form-group">
		<label for="exampleDropdownFormEmail1">Username</label> <input
			type="text" class="form-control" id="username" placeholder="Username">
	</div>

	<div class="form-group">
		<label for="exampleDropdownFormPassword1">Password</label> <input
			type="password" class="form-control" id="password"
			placeholder="Password">
	</div>
	<div class="form-check">
		<input type="checkbox" class="form-check-input" id="dropdownCheck">
		<label class="form-check-label" for="dropdownCheck"> Manager </label>
	</div>
	<button class="btn btn-primary" id="loginViewButton">
		Sign in
	</button>
	
  <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
	  
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
    <option value="" selected>Choose...</option>
    <option value="1">Employee</option>
    <option value="2">Manager</option>

  </select>
</form>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#">New around here? Sign up</a>
</div>