<ng-template #content let-dismiss="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Change password</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="form-group row">
        <label for="password">New password:</label>
        <input type="password" id="password" class="col-12 form-control" [class.is-invalid]="passwordError" [(ngModel)]="password"
          aria-describedby="password-error">
        <div *ngIf="passwordError" id="password-error" class="invalid-feedback">{{passwordError}}</div>
      </div>
      <div class="form-group row">
        <label for="confirm-password">Confirm new password:</label>
        <input type="password" id="confirm-password" class="col-12 form-control" [class.is-invalid]="confirmPasswordError" [(ngModel)]="confirmPassword"
          aria-describedby="confirm-password-error">
        <div *ngIf="confirmPasswordError" id="confirm-password-error" class="invalid-feedback">{{confirmPasswordError}}</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="handleClose()">Change password</button>
  </div>
</ng-template>
