<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- enable annotations in this context -->
	<context:annotation-config/>
	
	<!-- where to look for annotations -->
	<context:component-scan base-package="com.ex"/>
	
	<!-- enable @Transactional -->
	<tx:annotation-driven/>
	
	<jpa:repositories base-package="com.ex.repositories"/>

	<bean id="myDataSource" 
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" 
			value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@//localhost:1521/XE"/>
		<property name="username" value="demo"/>
		<property name="password" value="demo"/>
	</bean>
	
	<bean id="hibernateJpaVendorAdapter" 
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		
	</bean>
	
	<bean id="entityManagerFactory" 
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="myDataSource"/>
		<property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>
		<property name="packagesToScan" value="com.ex" />
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>				
			
			</props>
		</property>
	</bean>
	
	<bean id="transactionManager">
	</bean>
	
</beans>
