<nav class="navbar navbar-expand-lg navbar-light mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">ERS</a>
    <button class="navbar-toggler" [class.collapsed]="!expanded" type="button" (click)="toggleExpand()" aria-controls="navbar-content"
      [attr.aria-expanded]="expanded" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-content" class="collapse navbar-collapse" [class.show]="expanded">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home/reimbursements">Reimbursements <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home/account">Account</a>
        </li>
        <li *ngIf="isAdmin()" ngbDropdown class="nav-item" routerLinkActive="active">
          <a ngbDropdownToggle id="navbar-dropdown" class="nav-link">
            Manager tools
          </a>
          <div ngbDropdownMenu aria-labelledby="navbar-dropdown">
            <a class="dropdown-item" routerLink="/home/admin-reimbursements">View/resolve reimbursements</a>
            <a class="dropdown-item" routerLink="/home/admin-users">View/create users</a>
          </div>
        </li>
      </ul>
      <button class="btn btn-secondary" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
