  <!-- div to add new book. could and likely should be another component but lazy... -->
  
<h3>All Reimbursements:</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Amount</th>
      <th scope="col">Submitted</th>
      <th scope="col">Resolved</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col">Resolver</th>
      <th scope="col">Status</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of reimbursements">
      <td>{{b.amount | currency}}</td>
      <td>{{b.submitted | date: 'medium' }}</td>
      <td>{{b.resolved | date: 'medium'}}</td>
      <td>{{b.description}}</td>
      <td>{{getAuthor(b.author)}}</td>
      <td>{{getResolver(b.resolver)}}</td>
      <!-- <td>{{b.status_id}}</td> -->
      <td>
          {{statusConvert(b.status_id)}}
          <button *ngIf="b.status_id ==1" (click)="setApproved(b.reimb_id)" class="btn btn-primary">Approve</button>
          <button *ngIf="b.status_id ==1" (click)="setDenied(b.reimb_id)" class="btn btn-warn">Deny</button>
      </td>
      <td>{{typeConvertString(b.type_id)}}</td>

    </tr>
  </tbody>

</table>