<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Amount</th>
      <th>Date Submitted</th>
      <th>Date Resolved</th>
      <th>Description</th>
      <th>Author</th>
      <th>Resolver</th>
      <th>Type</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reimb of reimbs">
      <td>{{ reimb.reimb_id }}</td>
      <td>{{ reimb.reimb_amount | currency}}</td>
      <td>{{ reimb.date_submitted | date}}</td>
      <td>{{ reimb.date_resolved | date}}</td>
      <td>{{ reimb.reimb_description }}</td>
      <td>{{ reimb.author_id }}</td>
      <td>{{ reimb.resolver_id }}</td>
      <td>{{ reimb.reimb_type_id }}</td>
      <td>{{ reimb.reimb_status_id }}</td>
      <td><a href="google.com">Approve</a>/<a href="google.com">Deny</a></td>
    </tr>
  </tbody>
</table>

<br>
<br>