<!-- <form (submit)="login()" >
  <label for="username">Username</label>
  <input type="text" id="username" name="username" required [(ngModel)]='username' /> <br>
  <label for="password">Password</label>
  <input type="password" id="password" name="password" required [(ngModel)]='password' ><br>
  <input type="submit" value="Log In!">
</form> -->
<br>
<input type="text" [(ngModel)]="username" placeholder="Username" class="form-control col-4">
<br>
<input type="password" [(ngModel)]="password" placeholder="Password" class="form-control col-4">
<br>
<button (click)="login()" class="btn btn-primary">Login</button>
<br>
<br>
<button (click)="register()" class="btn">Add New Employee</button>

<!-- <br><br>
{{ servletUsername }}
{{ servletFirst }}
{{ servletLast }}
{{ servletEmail }} -->