<h2>My account</h2>
<div *ngIf="user" class="w-auto">
  <table>
    <tbody>
      <tr>
        <th span="row">Username</th>
        <td><input type="text" class="form-control" [value]="user.username" disabled></td>
      </tr>
      <tr>
        <th span="row">User role</th>
        <td><input type="text" class="form-control" [value]="formatRole()" disabled></td>
      </tr>
      <tr>
        <th span="row">First name</th>
        <td><input type="text" class="form-control" [(ngModel)]="user.firstName" required></td>
      </tr>
      <tr>
        <th span="row">Last name</th>
        <td><input type="text" class="form-control" [(ngModel)]="user.lastName" required></td>
      </tr>
      <tr>
        <th span="row">Email</th>
        <td><input type="text" class="form-control" [(ngModel)]="user.email" required></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="message" class="mt-2" [ngClass]="message.classes">{{message.text}}</p>
  <div class="row mt-2">
    <button class="btn btn-secondary col-12 col-md-3" (click)="openChangePasswordModal()">Change password</button>
  </div>
  <div class="row mt-2">
    <button class="btn btn-primary col-12 col-md-3" (click)="updateInfo()">Save changes</button>
  </div>
  <app-change-password-modal (close)="changePassword($event)"></app-change-password-modal>
</div>
