<h2>My account</h2>
<div *ngIf="user" class="w-auto">
  <table>
    <tbody>
      <tr>
        <th span="row">Username</th>
        <td><input type="text" class="form-control" [value]="user.username" disabled></td>
      </tr>
      <tr>
        <th span="row">User role</th>
        <td><input type="text" class="form-control" [value]="formatRole()" disabled></td>
      </tr>
      <tr>
        <th span="row">First name</th>
        <td><input type="text" class="form-control" [(ngModel)]="user.firstName" required></td>
      </tr>
      <tr>
        <th span="row">Last name</th>
        <td><input type="text" class="form-control" [(ngModel)]="user.lastName" required></td>
      </tr>
      <tr>
        <th span="row">Email</th>
        <td><input type="text" class="form-control" [(ngModel)]="user.email" required></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="message" class="mt-2" [ngClass]="message.classes">{{message.text}}</p>
  <div class="row mt-2">
    <button class="btn btn-secondary col-12 col-md-3" (click)="changePassword()">Change password</button>
  </div>
  <div class="row mt-2">
    <button class="btn btn-primary col-12 col-md-3" (click)="updateInfo()">Save changes</button>
  </div>

  <ng-template #content let-dismiss="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="password-modal-title">Change password</h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row align-items-baseline mt-2 mt-md-0">
          <label for="new-password" class="col-12 col-md-6">New password:</label>
          <input type="password" id="new-password" class="col-12 col-md form-control" [(ngModel)]="newPassword" required>
        </div>
        <div class="row align-items-baseline mt-2 mt-md-0">
          <label for="confirm-password" class="col-12 col-md-6">Confirm new password:</label>
          <input type="password" id="confirm-password" class="col-12 col-md form-control" [(ngModel)]="confirmPassword" required>
        </div>
        <div *ngIf="passwordMessage" class="row mt-2" [ngClass]="passwordMessage.classes">{{passwordMessage.text}}</div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="closeChangePassword()">Change password</button>
    </div>
  </ng-template>
</div>
